name: Prisma

on:
  push:
    paths:
      - 'prisma/**'
    branches:
      - main

jobs:
  prisma:
    runs-on: ubuntu-latest
    environment: pro

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install && npm install -g prisma@6.19.0

      - name: Prisma Deploy
        run: prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}